# ISUCON4用my.cnf
#
# 最初のベンチマークを取った後に
# $ mysql --help | grep my.cnf
# でmy.cnfの読み込み順を調べて配置する
#
# XXX: このmy.cnfを使ってもmysqlが起動しない場合はまずこのファイルを疑え！！！！


[client]
port = 3306
socket = /tmp/mysql.sock


[mysqld]
datadir = /var/lib/mysql
port = 3306
socket = /tmp/mysql.sock


# スロークエリログの設定、ベンチマーク時はコメントアウトすべき？？
slow_query_log=ON
slow_query_log_file=isucon_slow_query.log
long_query_time=0.1


# buffer_poolにデータとインデックスがキャッシュされる
# グローバルバッファなので、なるべく多く取るのがいいらしい
# 予選は1台のAWSなのであまり大きくしすぎないほうが良い？
# buffer_poolをいじる場合はlog_file_sizeもいじるようにする
innodb_buffer_pool_size = 512M
innodb_log_file_size = 128M


# mysql再起動時にbufferを前もって確保する
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1


# トランザクションのREDOログへの書き込み頻度を設定
# 1は完全なACID準拠なのでデータの保全は確保されるがちょっと遅くなるのかも？？
innodb_flush_log_at_trx_commit = 2
